---
import About from "../components/About.astro";
import en from "../locales/en.json";
---

<div class="my-15">
  <About content={en.trip} />

  <ul
    class="flex flex-wrap justify-center gap-20 sm:gap-10 md:gap-20 lg:gap-32 my-25"
  >
    <li class="flex flex-col items-center">
      <!-- Gambar menyamping -->
      <div class="flex gap-2 justify-center">
        <img src="siapa-saja/kakek.png" alt="Old Man" class="w-35 h-35" />
        <img src="siapa-saja/nenek.png" alt="Old Woman" class="w-35 h-35" />
      </div>

      <!-- Teks di bawah gambar -->
      <p class="mt-2 text-center text-xl font-semibold text-[#00001C]">
        Matures - Seniors
      </p>
    </li>
    <li class="flex flex-col items-center">
      <!-- Gambar menyamping -->
      <div class="flex gap-2 justify-center">
        <img src="siapa-saja/laki.png" alt="Man" class="w-35 h-35" />
        <img src="siapa-saja/cewek.png" alt="Woman" class="w-35 h-35" />
      </div>

      <!-- Teks di bawah gambar -->
      <p class="mt-2 text-center text-xl font-semibold text-[#00001C]">
        Teenagers - Adults
      </p>
    </li>
    <li class="flex flex-col items-center">
      <!-- Gambar menyamping -->
      <div class="flex gap-2 justify-center">
        <img src="siapa-saja/lakikecil.png" alt="boy" class="w-35 h-35" />
        <img src="siapa-saja/cewekkecil.png" alt="girl" class="w-35 h-35" />
      </div>

      <!-- Teks di bawah gambar -->
      <p class="mt-2 text-center text-xl font-semibold text-[#00001C]">
        Infants - Children
      </p>
    </li>
  </ul>
</div>
