---
import About from "../components/About.astro";
import en from "../locales/en.json";
---

<div class="my-15">
  <About content={en.keunggulan} />

  <ul class="flex flex-wrap justify-center sm:gap-10 md:gap-10 lg:gap-20 mt-25">
    <li class="flex flex-col items-center">
      <!-- Gambar menyamping -->
      <div class="flex gap-2 justify-center">
        <img
          src="unggul/friendly.png"
          alt="senior friendly"
          class="w-28 h-28"
        />
      </div>
      <!-- Teks di bawah gambar -->
      <p class="mt-2 text-center text-lg font-semibold text-[#6B451A]">
        Senior-friendly
      </p>
      <br />
      <p
        class="text-center font-normal text-sm text-[#6B451A] max-w-[250px] text-balance"
      >
        Designed to be safe, comfortable, and accessible for older adults,
        considering their needs and abilities
      </p>
    </li>
    <li class="flex flex-col items-center">
      <!-- Gambar menyamping -->
      <div class="flex gap-2 justify-center">
        <img src="unggul/write.png" alt="personalized" class="w-28 h-28" />
      </div>

      <!-- Teks di bawah gambar -->
      <p class="mt-2 text-center text-lg font-semibold text-[#6B451A]">
        Personalized
      </p>
      <br />
      <p
        class="text-center font-normal text-sm text-[#6B451A] max-w-[250px] text-balance"
      >
        Specially tailored / customized to fit your specific needs, preferences,
        and interests
      </p>
    </li>
    <li class="flex flex-col items-center">
      <!-- Gambar menyamping -->
      <div class="flex gap-2 justify-center">
        <img src="unggul/sustain.png" alt="sustainable" class="w-28 h-28" />
      </div>

      <!-- Teks di bawah gambar -->
      <p class="mt-2 text-center text-lg font-semibold text-[#6B451A]">
        Sustainable
      </p>
      <br />
      <p
        class="text-center font-normal text-sm text-[#6B451A] max-w-[250px] text-balance"
      >
        In ways that respect the environment, support local communities, and
        help preserve destinations for future generations
      </p>
    </li>
    <li class="flex flex-col items-center">
      <!-- Gambar menyamping -->
      <div class="flex gap-2 justify-center">
        <img src="unggul/meaningful.png" alt="sustainable" class="w-28 h-28" />
      </div>

      <!-- Teks di bawah gambar -->
      <p class="mt-2 text-center text-lg font-semibold text-[#6B451A]">
        Meaningful
      </p>
      <br />
      <p
        class="text-center font-normal text-sm text-[#6B451A] max-w-[250px] text-balance"
      >
        Valuable and memorable experience
      </p>
    </li>
  </ul>
</div>
