---
import Layout from "../../layouts/Layout.astro";
import en from "../../locales/en.json";
import HeroEn from "../../section-en/HeroEn.astro";
import Navbar from "../../components/Navbar.astro";
import FloatingCTA from "../../components/FloatingCTA.astro";
import HeaderTrip from "../../section-en/HeaderTrip.astro";
import HeaderTestimoni from "../../section-en/HeaderTestimoni.astro";
import SliderTestimoni from "../../section-en/SliderTestimoni.astro";
import HeaderUnggul from "../../section-en/HeaderUnggul.astro";
import Footer from "../../components/Footer.astro";
import Galeri from "../../components/Galeri.astro";
import Grid from "../../components/Grid.astro";
import About from "../../components/About.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Navbar content={en.navbar} />
  <FloatingCTA />
  <section id="home"><HeroEn /></section>
  <HeaderUnggul />
  <section id="trip" class="pt-10"></section>
  <About content={en.tripfav} />
  <section><Grid content={en.listtrip} /></section>
  <HeaderTrip />
  <HeaderTestimoni />
  <SliderTestimoni />
  <section id="galeri" class="pt-12"><Galeri /></section>
  <section id="footer"><Footer content={en.footer} /></section>
</Layout>
