---
import Layout from "../../layouts/Layout.astro";
import id from "../../locales/id.json";
import HeroId from "../../section-id/HeroId.astro";
import Navbar from "../../components/Navbar.astro";
import FloatingCTA from "../../components/FloatingCTA.astro";
import HeaderTrip from "../../section-id/HeaderTrip.astro";
import HeaderTestimoni from "../../section-id/HeaderTestimoni.astro";
import SliderTestimoni from "../../section-id/SliderTestimoni.astro";
import HeaderUnggul from "../../section-id/HeaderUnggul.astro";
import Footer from "../../components/Footer.astro";
import Galeri from "../../components/Galeri.astro";
import Grid from "../../components/Grid.astro";
---

<Layout>
  <Navbar content={id.navbar} />
  <FloatingCTA />
  <section id="home"><HeroId /></section>
  <HeaderUnggul />
  <section id="trip" class="pt-25"></section>
  <section><Grid /></section>
  <HeaderTrip />
  <HeaderTestimoni />
  <SliderTestimoni />
  <section id="galeri"><Galeri /></section>
  <section id="footer"><Footer /></section>
</Layout>
