---
// pages/index.astro
---

<html>
  <head>
    <meta
      name="google-site-verification"
      content="kZco5wKnm4ySl9L6K8XJctcdzxq4V8mZiYMMk-yrMzM"
    />
    <script>
      window.location.href = "/id";
    </script></head
  >

  <body> </body>
</html>
